<footer class="site-footer">
    <div class="inner">
        <div class="social-links">
            {% if site.slack_url %}
            <a href="{{ site.slack_url }}"><i class="fa fa-slack square fill-horizontal" aria-hidden="true"></i><span class="screen-reader-text">Slack</span></a>
            {% endif %}
            {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github-alt square fill-horizontal" aria-hidden="true"></i><span class="screen-reader-text">GitHub</span></a>
            {% endif %}
            {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter square fill-horizontal" aria-hidden="true"></i><span class="screen-reader-text">Twitter</span></a>
            {% endif %}
            {% if site.facebook_username %}
            <a href="https://www.facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook square fill-horizontal" aria-hidden="true"></i><span class="screen-reader-text">Facebook</span></a>
            {% endif %}
            {% if site.googleplus_username %}
            <a href="https://plus.google.com/{{ site.googleplus_username }}"><i class="fa fa-google-plus square fill-horizontal" aria-hidden="true"></i><span class="screen-reader-text">Google+</span></a>
            {% endif %}
            {% if site.codepen_username %}
            <a href="http://codepen.io/{{ site.codepen_username }}"><i class="fa fa-codepen square fill-horizontal" aria-hidden="true"></i><span class="screen-reader-text">CodePen</span></a>
            {% endif %}
            {% if site.dribbble_uername %}
            <a href="https://dribbble.com/{{ site.dribbble_uername }}"><i class="fa fa-dribbble square fill-horizontal" aria-hidden="true"></i><span class="screen-reader-text">Dribbble</span></a>
            {% endif %}
            {% if site.medium_username %}
            <a href="https://medium.com/{{ site.medium_username }}"><i class="fa fa-medium square fill-horizontal" aria-hidden="true"></i><span class="screen-reader-text">Medium</span></a>
            {% endif %}
            {% if site.instagram_username %}
            <a href="http://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram square fill-horizontal" aria-hidden="true"></i><span class="screen-reader-text">Instagram</span></a>
            {% endif %}
            {% if site.pinterest_username %}
            <a href="http://www.pinterest.com/{{ site.pinterest_username }}"><i class="fa fa-pinterest-p square fill-horizontal" aria-hidden="true"></i><span class="screen-reader-text">Pinterest</span></a>
            {% endif %}
            {% if site.linkedin_username %}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin square fill-horizontal" aria-hidden="true"></i><span class="screen-reader-text">LinkedIn</span></a>
            {% endif %}
            <a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-feed square fill-horizontal"></i><span class="screen-reader-text">RSS</span></a>
        </div><!-- .social-links -->
        <div class="site-info">
            &copy; <a href="{{ site.baseurl }}/">{{site.title}}</a><br />Powered by <a target="_blank" href="https://jekyllrb.com/">Jekyll</a>.
            <a href="#top" id="top-link"><i class="fa fa-chevron-up top-link square fill-horizontal"></i><span class="screen-reader-text">Back to the top</span></a>
        </div><!-- .site-info -->
    </div><!-- .inner -->
</footer><!-- .site-footer -->

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.notif.me/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '102']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.notif.me/piwik.php?idsite=102&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
